<div>
  <h1>{{tableDescription.header}}</h1>

  <br/><br/>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        {{#each tableDescription.columns as |column|}}
          <th>{{column.name}}</th>
        {{/each}}
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {{#each model as |item|}}
      <tr>
        {{#each tableDescription.columns as |column|}}
          <td>{{get item column.index}}</td>
        {{/each}}
        <td>
          <span>
            <button class="btn btn-primary" {{action 'editItem' item}} >Edit</button>
            <button class="btn btn-primary" {{action 'deleteItem' item}} >Delete</button>
          </span>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
    <div> Pages: {{numberOfPages}}</div>
    <div>
        Items on page:
        {{#each itemsOnPageOptions as |count|}}
            {{#if count.disabled}}
                <strong>{{count.value}}</strong>
            {{else}}
                <button {{action 'selectNumberOfItemsOnPage' count.value}}>{{count.value}}</button>
            {{/if}}
        {{/each}}
    </div>
</div>

{{#if responseMessage}}
    <div class="alert alert-success">{{responseMessage}}</div>
{{/if}}
