<div>
    <h2>{{formDescription.header}}</h2>

    <div class="form-horizontal">
        {{#each formDescription.descriptions as |description|}}
            {{validated-input
            value=(get changeset description.index)
            description=description
            errorMessage=(get changeset.error description.index)
            }}
        {{/each}}

        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-3">
                <button class="btn btn-primary btn-lg btn-block" {{action 'save' changeset}} >{{formDescription.saveButtonLabel}}</button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary btn-lg btn-block" {{action 'cancel' changeset}} >{{formDescription.cancelButtonLabel}}</button>
            </div>
        </div>
    </div>
</div>

{{#if responseMessage}}
    <div class="alert alert-success">{{responseMessage}}</div>
{{/if}}
