<div class={{content.nameClass}}>
    <div class="form-control">
        {{content.name}}
    </div>
</div>
<div class={{content.class}}>
    <textarea class="form-control" value={{content.value}} placeholder={{content.placeholder}} rows={{content.rows}}></textarea>
</div>
