<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav list-inline">
      {{#each elements as |element|}}
      <li>
          <a>
            {{#if element.dropdown}}
                    {{#bs-dropdown as |dd|}}
                        {{#dd.toggle class="btn-link"}}
                            Admin
                            <span class="caret"></span>
                        {{/dd.toggle}}
                        {{#dd.menu as |ddm|}}
                            {{#each element.dropdownElements as |option|}}
                                {{#ddm.item}}
                                    {{#link-to option.link class="button"}}
                                        {{option.title}}
                                    {{/link-to}}
                                {{/ddm.item}}
                            {{/each}}
                        {{/dd.menu}}
                    {{/bs-dropdown}}
            {{else}}
                {{#link-to element.link class="btn-link"}}
                  {{element.title}}
                {{/link-to}}
            {{/if}}
          </a>
      </li>
      {{/each}}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        {{#if session.isAuthenticated}}
          <button {{action 'invalidateSession'}} class="btn-link">Logout</button>
        {{else}}
          {{#link-to 'login'}}
            <button {{action 'invalidateSession'}} class="btn-link">Login</button>
          {{/link-to}}
        {{/if}}
      </li>
    </ul>
  </div>
</nav>

