<div>
  {{admin-table
    model=model
    tableDescription=tableDescription
    editItem=(action 'editComment')
    deleteItem=(action 'deleteComment')
  }}

  {{input-form
    formDescription=formDescription
    saveItem=(action 'saveComment')
    cancel=(action 'cancel')
  }}

  <ul>
    {{#each model as |comment|}}
      <li>{{comment.id}}</li>
      <li>{{comment.book}}</li>
      <li>{{comment.book.isPending}}</li>
      <li>{{comment.book.id}}</li>
        <li>
            {{#each (await comment.book) as |book|}}
                {{book.id}}
            {{/each}}
        </li>
    {{/each}}
  </ul>

  {{#if responseMessage}}
    <div class="alert alert-success">{{responseMessage}}</div>
  {{/if}}
</div>